/* 清除默认内外边距 */
*{
    margin: 0;
    padding: 0;
}
/* 默认版心居中 */
div{
    margin:0 auto;
    width: 1000px;
    height: 300px;
    background-color: #e0e0e0;
}
/* 内减模式 */
.inner_minus{
    box-sizing: border-box;
}
/* 清除元素（法1额外标签） */
.clearfix{
    clear: both;
}
/* 清除浮动（法2单伪元素法） */
.clearfix::after{
    content: "";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}
/* 清除浮动（法3双伪元素） */
    /* 1.解决外边距塌陷问题 */
.clearfix::before,
.clearfix::after{
    content: "";
    display: table;
}
    /* 2.清除浮动 */
.clearfix::after{
    clear: both;
}

/* 主盒子 */
div.mainbox{
    margin: 0 auto;
    width: 1000px;
    background-color: olive;
    overflow:hidden/* 清除浮动（法4） */
}
/* 导航盒子 */
div.navi{
    float: left;
    border-top: 3px solid #85ff00;
    border-bottom: 1px solid #edeef0;
    padding: 0;
    /* height: 40px; */
    width: 200px;
    height:auto;
    /* background-color: pink; */
}
/* 导航的超链接按钮 */
.navi a.botton{
    padding: 0 16px;
    display: inline-block;
    /* width: 80px; */
    height: 40px;
    text-align: center;/*水平居中*/
    line-height: 40px;/*竖直居中line-height=height*/
    font-size: 12px;
    color: #4c4c4c;
    background-color: skyblue;
    text-decoration: none;
}
/* 导航的超链接按钮 鼠标悬停 */
.navi a.botton:hover{
    background-color: #edeef0;
    color: #ff8500;
}
/* 新闻盒子 */
div.news{
    float: left;
    margin: 0 auto auto 50px;
    border: 1px solid #ccc;
    padding: 42px 30px 10px;
    width: 500px;
    height: auto;
    background-color: #fff;
}
/* 新闻框的标题 */
.news h2{
    border-bottom: 1px solid #000;
    padding-bottom: 10px;
    font-size: 30px;
    line-height: 1;
}
/* 去除ul小点点 */
.news ul{
    list-style:none;
}
/* 新闻的li */
.news li{
    border-bottom: 1px solid #000;
    padding-left: 28px;
    height: 50px;
    line-height: 50px;
}
/* 新闻的超链接 */
.news a{
    text-decoration: none;
    color: #666;
    font-size: 18px;
}