/* 清除默认内外边距 */
*{
    margin: 0;
    padding: 0;
}
/* 内减模式 */
.inner_minus{
    box-sizing: border-box;
}
/* 清除浮动（法3双伪元素） */
    /* 1.解决外边距塌陷问题 */
    .clearfix::before,
    .clearfix::after{
        content: "";
        display: table;
    }
        /* 2.清除浮动 */
    .clearfix::after{
        clear: both;
    }
/* 清除ul小点 */
ul{
    list-style:none;

}
/* 清除超链接下划线 */
a{
    text-decoration: none;
}
/* 版心居中 */
.wrapper{
    margin: 0 auto;
}
/*图片自适应*/
.img-kk {
	display: inline-block;
	height: auto;
	padding: 0px;
	max-width:100%;
	line-height: 1.42857143;
	-moz-transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out
}



/* body背景图 */
body{
    background:url(../images/body_backgrond.jpg) no-repeat scroll 50% 0;
    background-size:cover;
}




/* 盒子标题格式 */
div.box_title{
    margin-bottom: 10px;
    border-bottom: 1px solid #a6a6a6;
    padding: 0 70px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;

}
.h2_EarlyTestLink{
    background-color: transparent;
    background-image: url(https://patchwiki.biligame.com/images/djlw/b/b4/r4fby7nlpd2los63i19iyowybxzinwy.png);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: left top;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: 50px auto;
    height: 50px;
    line-height:50px;/* 文字竖直居中 */
    clear: both;
}


/* 头部 */
div.header{
    margin: 10px auto;
    width: 1200px;
    height: 50px;
}
h1{
    margin-right: 50px;
    float: left;
    font-size: 50px;
    line-height: 50px;
}
div.nav{
    float: left;
}
.nav li{
    float:left;
    margin-right: 5px;
    height: 50px;
    line-height:50px;
}
.nav li a{
    display: inline-block;
    padding: 0 10px;
    border-radius: 4px;/*圆角4px*/
    background-color: rgba(255,255,255,0.7);/* 白色半透明背景 */
    -webkit-transition-duration: 0.5s; /* hover变化时间(Safari) */
    transition-duration: 0.5s; /* hover变化时间 */
    background-color: rgba(255,255,255,0.7);
    color:black;
    text-align: center;/*水平居中*/
    height: 46px;
    line-height:46px;    
    border:2px solid #00a4ff;
}
.nav li a:hover{
    background: rgba(167,170,215,0.3);/* 浅紫色半透明背景 */
}



/* 主盒子 */
div.mainbox{
    width: 1200px;
    background-color: rgba(255,255,255,0.7);/* 白色半透明背景 */
    box-shadow: 0px 0px 20px rgba(35,35,35,0.9);
}

/* 左右盒子 */
div.left_box{
    float:left;
    width:700px;
}
div.right_box{
    float:right;
    width:500px;
}

/* 装按钮的盒子 */
div.normal_box{
    float: left;
    margin:10px;
    border-radius: 8px;/*圆角8px*/
    padding:10px;
    width: auto;
    background: rgba(167,170,215,0.3);/* 浅紫色半透明背景 */
    box-shadow: 3px 3px 3px rgba(100,100,100,0.7);
}


/* 超链接按钮设置 */
a.botton{
    float:left;
    margin: 5px;
    /* border: 1px solid #000; */
    padding: 0 16px;
    border-radius: 4px;/*圆角4px*/
    -webkit-transition-duration: 0.5s; /* hover变化时间(Safari) */
    transition-duration: 0.5s; /* hover变化时间 */
    background-color: rgba(255,255,255,0.7);
    box-shadow: 2px 2px 2px rgba(50,50,50,0.5);
    color:black;
    text-align: center;/*水平居中*/
    line-height: 1.5;
    font-size: 18px;
}
a.botton:hover{
    background-color: rgba(165, 100, 190, 0.3);
    color: white;
}



/* foot盒子 */
div.foot{
    margin-top: 100px;
    width: 1200px;
}
.foot span{
    display: block;
    text-align: center;
    color: #7d7d7d;
    font-size: 14px;
}